.footer {
  padding-top: 30px;
  padding-bottom: 60px;

  @media screen and (max-width: 75em) {
    padding-top: 15px;
    padding-bottom: 30px;
  }

  .footer__main {
    padding-top: 3.75rem;
    padding-bottom: 1.875rem;

    @media screen and (max-width: 75em) {
      padding-top: 1.875rem;
      padding-bottom: 15px;
    }

    .vendor {
      padding: 3.75rem;
      text-align: center;

      //   TODO dashed line
      border-top: 1px dashed $color-black;
      border-bottom: 1px dashed $color-black;

      h3 {
        font-size: 2.8125rem;
        margin-bottom: 25px;
      }

      @media screen and (max-width: 75em) {
        padding: 1.875rem 0;

        h3 {
          font-size: 1.5rem;
        }

        .btn {
          width: 100%;
        }
      }
    }

    .socials {
      padding: 3.75rem 0;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 3.75rem;

      .social__links {
        padding: 3.4375rem;

        //   TODO dashed line
        border: 1px dashed $color-black;

        .social__link {
          display: flex;
          flex-direction: column;
          gap: 15px;
          align-items: center;
          justify-content: center;

          .social__icons {
            display: block;
          }
          .social__label {
            text-align: center;
            font-size: 0.85rem;
            line-height: 1.5;
          }
        }
        justify-content: center;
      }

      @media screen and (max-width: 75em) {
        grid-template-columns: repeat(1, 1fr);
        gap: 1.875rem;

        .social__links {
          padding: 1.875rem;
        }
      }
    }

    .newsletter {
      padding: 1.875rem 3.75rem;
      display: flex;
      align-items: center;
      justify-content: space-between;

      //   TODO dashed line
      border: 1px dashed $color-black;

      .newsletter__text {
        font-size: 1.375rem;
        line-height: 1.3;
        display: block;
        width: 100%;
        max-width: 16.25rem;
      }

      .form {
        width: 100%;
        max-width: 680px;
        position: relative;

        .form__input {
          padding-right: 3.75rem;

          &::placeholder {
            color: $color-black;
          }
        }

        .submit__email {
          position: absolute;
          padding: 1.25rem;
          top: 7px;
          right: 12px;
          opacity: 0;
          cursor: pointer;
        }
        &::after {
          content: "\21E3";
          position: absolute;

          right: 28px;
          top: 15px;
          transform: rotate(-90deg);
          font-size: 24px;
          color: #000;
        }
      }

      @media screen and (max-width: 75em) {
        padding: 1.875rem;
        flex-direction: column;
        gap: 1.25rem;

        .newsletter__text {
          display: none;
        }

        .newsletter__mobile__text {
          display: flex;
          flex-direction: column;
          gap: 15px;
          align-items: center;
          justify-content: center;

          .social__icons {
            display: block;
          }
          .social__label {
            text-align: center;
            font-size: 0.85rem;
            line-height: 1.5;
          }
        }
      }
    }
  }

  .footer__legal {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 0.9rem;

    .footer__legal--left {
      display: flex;
      align-items: center;
      gap: 5.75rem;
    }

    .legal__link {
      a {
        border-bottom: 1px solid currentColor;
      }
    }

    .site__by {
      .strike {
        text-decoration: line-through;
      }
    }

    @media screen and (max-width: 75em) {
      display: none;
    }
  }
}

.footer__legal--mobile {
  display: flex;
  flex-direction: column;
  // align-items: center;
  font-size: 0.6rem;
  gap: 2rem;

  .footer__legal--top,
  .footer__legal--bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 3.75rem;
  }

  .legal__link {
    a {
      border-bottom: 1px solid currentColor;
    }
  }

  .site__by {
    .strike {
      text-decoration: line-through;
    }
  }
}

.form__input {
  width: 100%;
  padding: 1.25rem;
  border: 1px solid $color-black;

  font-size: 1rem;

  background-color: $color-white;
  color: $color-black;

  transition: all 0.2s ease-in-out;
}
