// @import url("https://fonts.googleapis.com/css2?family=PT+Mono&display=swap");
@import url("https://fonts.googleapis.com/css2?family=PT+Mono&family=Playfair+Display:wght@400;700&display=swap");
@import url("https://db.onlinewebfonts.com/c/05e476e067ffef74ca5686f229c40a63?family=PingFang+SC");

@import "variables";

@import "footer";

html,
body {
  padding: 0;
  margin: 0;
  // font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
  //   Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-family: "PT Mono", monospace;
  color: $color-black;

  ::selection {
    background-color: $color-black;
    color: $color-white;
  }
}

body {
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */

  &::-webkit-scrollbar {
    width: 0;
    display: none; /* Safari and Chrome */
  }
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Playfair Display", serif;
  margin: 0;
}

.container {
  padding-left: 3.75rem;
  padding-right: 3.75rem;

  @media screen and (max-width: 75em) {
    padding-left: 1.875rem;
    padding-right: 1.875rem;
  }
}

.btn,
.btn--link {
  padding: 0.9375em;

  width: 11.25rem;
  border: 1px solid $color-black;
  cursor: pointer;

  font-size: 1rem;

  background-color: $color-white;
  color: $color-black;

  transition: all 0.2s ease-in-out;

  &:hover {
    background-color: $color-black;
    color: $color-white;
  }
}

.btn--md {
  padding: 1.25rem;
}

@media screen and (min-width: 75em) {
  .mobile-only {
    display: none;
  }
}

.main-wrapper {
  // display: grid;
  // grid-template-columns: auto 1fr;
}

.navigation {
  width: 100%;
  position: fixed;
  // top: 0;
  // right: 0;
  // left: 0;
  .navigation__links {
    width: 100%;
    // display: flex;
    font-size: clamp(1rem, 1.25vw, 1.25rem);

    .navlink-item {
      cursor: pointer;
      height: 100vh;
      // width: fit-content;
      padding: 4rem 0.5rem;
      background-color: var(--bgColor);
      display: flex;
      flex-direction: column;
      position: relative;

      @media screen and (max-width: 48em) {
        display: none;
      }

      .navlink-item__sign {
        word-break: keep-all;
      }
      .navlink-item__text {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        // transform: rotate(90deg);
        writing-mode: vertical-rl;
        text-transform: capitalize;
      }
    }
  }
}

.main-content {
  overflow-y: scroll;
  max-height: 100vh;
  background-color: var(--bgColor);
  width: calc(100% - 180px);

  // scroll bar hide
  scrollbar-width: none;
  &::-webkit-scrollbar {
    width: 0em;
  }
}
