@import "variables";

.section {
  padding: 0 3.75rem;

  @media screen and (max-width: 75em) {
    padding: 0 1.875rem;
  }
}

// HERO
.hero {
  padding-top: 11.25em;
  padding-bottom: 3.75rem;

  .logo {
    position: fixed;
    top: 3.75rem;
    z-index: 9;
    width: 100%;
    max-width: 50px;
  }
  .hero__text {
    font-size: 4.7rem;
    font-weight: 400;

    line-height: 1.15;
    letter-spacing: 0;
    width: 100%;
    max-width: 64.375rem;
  }

  @media screen and (max-width: 75em) {
    padding-top: 18.75rem;
    padding-bottom: 2.4rem;

    .logo {
      top: 1.875rem;
      left: 1.875rem;
    }
    .hero__text {
      font-size: 35px;
    }
  }
}

// media
.media {
  width: 100%;
  height: 100vh;
  margin-bottom: 3.75rem;

  .media__img {
    background-image: url("https://images.prismic.io/canalstreetmarket/1d99cf0e3a0144c1229f92ee5b3c63b0eaae893c_home-hero.jpg?auto=compress,format");
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 1;
    // transform: translate3d(0px, 0px, 0px);
    width: 100%;
    height: 100%;
  }
}

// COLUMNS
.columns {
  .columns__header {
    font-size: 7rem;
    font-weight: 400;

    margin-bottom: 3.75rem;
    width: 100%;
    max-width: 40.3125rem;
  }

  .columns__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3.75rem;

    .column {
      .column__image {
        height: 42.1875rem;
        opacity: 1;
        background-repeat: no-repeat;
        background-size: cover;
        transform: translate3d(0px, 0px, 0px);
        // background-size: contain;
      }

      p {
        font-size: 0.85rem;
        line-height: 1.55;
      }
    }
  }

  @media screen and (max-width: 75em) {
    .columns__header {
      font-size: 3.75rem;
    }

    .columns__grid {
      grid-template-columns: repeat(1, 1fr);
    }
  }
}

// EVENTS
.events {
  text-align: center;
  padding-bottom: 9.375rem;

  .events__header__wrapper {
    padding: 3.75rem 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    align-items: center;

    .events__header {
      font-size: 6.25rem;
      line-height: 100%;
      font-weight: 400;
    }
  }

  .events__row {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    // TODO Dash border
    border-top: 1px dashed $color-black;
    border-bottom: 1px dashed $color-black;

    padding: 4.6875rem 0 6.25rem;
    position: relative;

    &__item {
      cursor: pointer;

      & > span {
        font-size: 0.75rem;
      }
    }

    .link {
      position: absolute;
      bottom: -1.25rem;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  @media screen and (max-width: 75em) {
    padding-bottom: 4.75rem;

    .events__header__wrapper {
      grid-template-columns: repeat(1, 1fr);
      gap: 3.75rem;

      .events__header {
        font-size: 3.75rem;
      }
    }

    .events__row {
      grid-template-columns: repeat(1, 1fr);
      gap: 0;

      // TODO Dash border remove
      border: 0;

      &__item {
        padding: 60px 20px;

        &:first-of-type,
        &:last-of-type {
          // TODO Dash border
          border-top: 1px dashed $color-black;
          border-bottom: 1px dashed $color-black;
        }
      }

      .link {
        width: 100%;
      }
    }
  }
}

.location {
  text-align: center;

  .location__grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 3.75rem;

    .address,
    .address__map {
      padding: 5.625rem 1.875rem;
      // TODO Dash border
      border: 1px dashed $color-black;

      h3 {
        font-size: 3.725rem;
        font-weight: 400;
        line-height: 1.35;
        max-width: 24.0625rem;
        margin: 0 auto;
      }
    }
    .address__map {
      padding: 1px;
      background-image: url("https://images.prismic.io/canalstreetmarket/74921c6bf0abf767666c52a6af3c001c58643587_group-11.jpg?auto=compress,format");
      width: 100%;
      height: 100%;
      background-size: cover;
    }
  }

  @media screen and (max-width: 75em) {
    .location__grid {
      grid-template-columns: repeat(1, 1fr);
      gap: 3.75rem;

      .address {
        padding: 3.75rem 1.785rem;

        h3 {
          font-size: 2.5rem;
        }
      }

      .address__map {
        display: none;
      }
    }
  }
}
