@import "variables";

.section {
  padding: 0 3.75rem;

  @media screen and (max-width: 75em) {
    padding: 0 1.875rem;
  }
}

// HERO
.hero {
  padding-top: 11.25em;
  padding-bottom: 3.75rem;

  .logo {
    position: fixed;
    top: 3.75rem;
    z-index: 9;
    width: 100%;
    max-width: 50px;
  }
  .hero__text {
    font-size: 10.7rem;
    font-weight: 400;

    line-height: 1.15;
    letter-spacing: 0;
    width: 100%;
    max-width: 64.375rem;
  }

  @media screen and (max-width: 75em) {
    padding-top: 18.75rem;
    padding-bottom: 2.4rem;

    .logo {
      top: 1.875rem;
      left: 1.875rem;
    }
    .hero__text {
      font-size: 35px;
    }
  }
}
